p {
    line-height: 1.6; /* Improve readability */
}

.post-content {
     margin-top: 20px;
}

.author {
    margin-top: 20px;
    padding: 10px;
    background-color: #2C2F38; /* Darker background for author block */
    border-radius: 5px;
    color: #DCDCDC; /* Light gray for author details */
}